extends layout 

block content
  div
    h4= events.title
    p= events.description
    #container-events
    each event in events.events 
      table#events
        tr.trow 
          th.table-id ID 
          td.table-data 
            a(href=`${eventPage}${event.id}`) #{event.id}
        tr.trow
          th.table-header Title
          td.table-data #{event.title}
    else
      p This API has no events.
