extends layout 

block content 
    h1= title
    p= event
    #container-event
        table#event
            tr 
            th.table-id ID 
            td.table-data #{eonet_id}
            tr 
            th.table-header Title
            td.table-data #{eonet_title}
            tr 
            th.table-header Link 
            td.table-data 
                a(href=eonet_link) #{eonet_link}
            tr 
            th.table-header Lat, Long
            td.table-data #{eonet_geometry[0].eonet_coordinates[1]}, #{eonet_geometry[0].eonet_coordinates[0]}