extends layout

block content
  h1= title
  p= events_list
  #container-events
    each event in events_list 
      table#events
        tr 
          th.table-id ID 
          td.table-data #{event.eonet_id}
        tr 
          th.table-header Title
          td.table-data #{event.eonet_title}
        tr 
          th.table-header Link 
          td.table-data 
            a(href=event.eonet_link) #{event.eonet_link}
        tr 
          th.table-header Lat, Long
          //- td.table-data #{event.eonet_geometry[0].eonet_coordinates[1]}, #{event.eonet_geometry[0].eonet_coordinates[0]}
    else
      p This API has no events.
