extends layout

block content
  h1= title
  p= events_list
  #container-events
    each event in events_list 
      table#events
        tr 
          th.table-id ID 
          td.table-data #{event.id}
        tr 
          th.table-header Title
          td.table-data #{event.eonet_title}
        tr 
          th.table-header Link 
          td.table-data 
            a(href=event.link) #{event.link}
        tr 
          th.table-header Lat, Long
          //- td.table-data #{event.geometry[0].coordinates[1]}, #{event.geometry[0].coordinates[0]}
    else
      p This API has no events.
